.quotes-list{
  width: 100%;
  position: relative;
  &__bg{
    position: absolute;
    background-color: $orange;
    box-sizing: border-box;
    width: 100%;
    display: none;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    padding: 90px;
    @media all and (min-width: $screen-m){
      display: block;
    }
  }
  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 20px;
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    max-width: $max-width-content;
    justify-content: center;
    position: relative;
    @media all and (min-width: $screen-m) {
      justify-content: space-between;
      margin-top: 30px;
      flex-wrap: nowrap;
    }
  }
}






















