.achievement {
  color: #333;
  background-color: #fff;
  text-align: center;
  padding: 4px;
  flex: 0 0 270px;
  box-sizing: border-box;
  margin: 5px;
  font: {
    size: 16px;
    family: Arial, sans-serif;
  };
  @media all and (min-width: 650px) {
    flex: 0 0 calc(50% - 10px);
  }
  @media all and (min-width: $screen-l) {
    flex: 0 0 270px;
  }
  &__count{
    font-weight: bold;
  }
}



