.social-media {
  &--main {
    background: white;
    color: black;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-right: 5px;
    border-radius: 50%;
    font-weight: bold;
    width: 40px;
    height: 40px;
    &:hover{
      background-color: $orange;
    }
  }
  &--twitter {
    background: white;
    color: black;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    &:hover{
      background-color: $orange;
    }
  }
  &--google {
    background: white;
    color: black;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    &:hover{
      background-color: $orange;
    }
  }
  &--driblle{
    background: white;
    color: black;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    &:hover{
      background-color: $orange;
    }
  }
}


























