<div>
  {{ navbar|raw }}
  {{ header_default|raw }}
  {{ info_default|raw }}
  {{ service_section_default|raw }}
  {{ portfolio_section_default|raw }}
  {{ video_component_default|raw }}
  {{ our_team_section_default|raw }}
  {{ quotes_list_default|raw }}
  {{ footer_default|raw }}
</div>