.quote-component {
  max-width: 570px;
  display: flex;
  flex-direction: column;
  &:first-child {
    @media all and(min-width: $screen-m) {
      .quote-component__section-bottom{
        order: inherit;
      }
      .quote-component__section-top {
        order: inherit;
      }
    }
  }
  @media all and(min-width: $screen-m) {
    flex: 0 0 calc(50% - 10px);

  }
  &__image {
    display: block;
    width: 100%;
  }
  &__description {
    position: absolute;
    bottom: 0;
    background-color: $gray;
    color: white;
    display: none;
    height: 100%;
    text-align: initial;
    box-sizing: border-box;
    padding: 50px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    font-size: 14px;
  }
  &__section-top {
    position: relative;
    box-sizing: border-box;
    order: 2;
    @media all and(min-width: 500px){
      &:hover {
        > .quote-component__description {
          display: block;
        }
      }
    }
  }
  &__section-bottom {
    order: 1;
    margin-top: 30px;

  }
  &__name{
    text-align: right;
    font-weight: bold;
    font-style: italic;
  }
  &__text{
    line-height: 1.7;
    text-align: right;
  }
}



