<div class="quote-component">
  <div  class="quote-component__section-top">
    <img src="{{ quote_image }}" class="quote-component__image"/>
    <div class="quote-component__description">
      <p >{{ quote_description }}</p>
    </div>
  </div>
  <div class="quote-component__section-bottom">
    <p class="quote-component__text">{{ quote }}</p>
    <p class="quote-component__name">{{ quote_by }}</p>
  </div>
</div>