.skill {
  box-shadow: 0 0 20px #e1e1e1;
  text-align: center;
  padding: 15px;
  width:100%;
  margin: 0 15px;
  &__image {
    min-height: 70px;
  }
  &__description{
    max-width: 200px;
    margin: auto;
    line-height: 1.3;
    letter-spacing: 0.2em;
    color: $pale_gray;
    font-size: 14px;
  }
  &__names{
    text-align: left;
  }
  &__progress {
    margin-top: 40px;
  }
  &__percentage--white {
    background-color: #ececec;
    border: 1px solid #ececec;
    width: 100%;
    margin-bottom: 10px;
  }
  &__percentage--yellow {
    background-color: $primary;
    border: 1px solid $primary;
  }
}













