<div class="skill">
  <div class="skill__image">
    <img src="{{ skill_icon }}" alt=""/>
  </div>
  {{ heading_skill|raw }}
  <p class="skill__description">{{ skill_description }}</p>
  {#@toDo Create skill-progress component #}
  <div class="skill__progress">
    <p class="skill__names">{{ skill1 }}</p>
    <div class="skill__percentage--white">
      <div class="skill__percentage--yellow" style="width: {{ skill1_progress }}">
      </div>
    </div>
    <p class="skill__names">{{ skill2 }}</p>
    <div class="skill__percentage--white">
      <div class="skill__percentage--yellow" style="width: {{ skill2_progress }}">
      </div>
    </div>
    <p class="skill__names">{{ skill3 }}</p>
    <div class="skill__percentage--white">
      <div class="skill__percentage--yellow" style="width: {{ skill3_progress }}">
      </div>
    </div>
  </div>
</div>
