//body {
//  background: red;
//}

@import "variables";

//atoms
@import "atoms/buttons/buttons";
@import "atoms/heading/heading";
@import "atoms/logo/logo";
@import "atoms/social-media-icon/social-media-icon";
@import "atoms/footer-link/footer-link";

//molecules
@import "molecules/hero-component/hero-component";
@import "molecules/info/info";
@import "molecules/intro/intro";
@import "molecules/skill-component/skill-component";
@import "molecules/achievements-component/achievements-component";
@import "molecules/portfolio-component/portfolio-component";
@import "molecules/video-component/video-component";
@import "molecules/team-member/team-member";
@import "molecules/quotes-component/quotes-component";
@import "molecules/portfolio-menu/portfolio-menu";
@import "molecules/footer-menu/footer-menu";
@import "molecules/navbar/navbar";
//organisms
@import "organisms/skill-section/skill-section";
@import "organisms/achievements-section/achievements-section";
@import "organisms/our-service-section/our-service-section";
@import "organisms/portfolio-list/portfolio-list";
@import "organisms/portfolio-section/portfolio-section";
@import "organisms/team-members-list/team-member-list";
@import "organisms/our-team-section/our-team-section";
@import "organisms/quotes-list/quotes-list";
@import "organisms/footer/footer";
@import "organisms/header/header";

//pages
@import "pages/default/default";

// Base settings
body {
  font-family: Arial, sans-serif;
  >div {
    position: relative;
  }
  margin: 0;
}