.portfolio-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 40px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  @media all and (min-width: $screen-m){
    flex-wrap: nowrap;
    max-width: 1184px;
    display: flex;
  }
  &__links {
    flex: 0 0 100%;
    align-self: center;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;

    @media all and  (min-width: $screen-m) {
      display: flex;
      flex: 0 0 calc((100% - 225px)/2);
    }
    a {
      padding: 30px 0;
      flex: 0 0 50%;
      display: block;
      text-decoration: none;
      color: black;
      &:first-child {
        border-bottom: solid 1px $gray;
        @media all and (min-width: $screen-m) {
          border: none;
        }
      }
    }
  }
  &__icon {
    padding: 20px;
    flex: 0 0 100%;
    @media all and  (min-width: $screen-m) {
      flex: 0 0 225px;
    }
  }
}









