<div class="portfolio-menu">
  <div class="portfolio-menu__links">
    <a href="{{ graphic_link }}">GRAPHIC</a>
    <a href="{{ web_link }}">WEB</a>
  </div>
  <div class="portfolio-menu__icon">
    <img src="{{ portfolio_icon }}" />
  </div>

  <div class="portfolio-menu__links">
    <a href="{{ dev_link }}">DEVELOPMENT</a>
    <a href="{{ app_link }}">APP</a>
  </div>
</div>