.portfolio__list{
  flex-wrap: wrap;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 60px;
  @media all and(min-width: $screen-m){
    justify-content: center;
  }
  @media all and(min-width: $screen-l){
    flex-wrap: nowrap;
  }
  .portfolio-section{
    flex: 0 1 320px;
    margin:20px;
    justify-content: space-between;
  }
}








