.footer {
  background-color: $gray;
  box-sizing: border-box;
  &__wrapper {
    display: flex;
    max-width: $max-width-content;
    margin: 0 auto;
    color: white;
    padding: 20px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    @media all and (min-width: $screen-m) {
      justify-content: space-around;
      flex-wrap: wrap;
      padding-top: 30px;
      flex: 0 0 370px;
    }
    @media all and(min-width: $screen-l) {
      flex-wrap: nowrap;
      display: flex;
    }
  }
  &__menu-box {
    display: flex;
    max-width: 370px;
  }
  &__menu {
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
    a {
      display: block;
      text-decoration: none;
      color: white;
      padding-bottom: 10px;
    }
  }
  &__contact{
    max-width:370px;
    box-sizing: border-box;


  }
  &__link--contact{
    color: black;
    text-decoration: none;
    background-color: $orange;
    border: 1px solid $orange;
    padding:5px 20px;
    border-radius: 10px;
    &:hover{
      background-color: #cc7e00;
      color: white;
    }
  }
  &__contact-text{
    margin-bottom: 30px;
    font-size: 14px;
  }
  &__social-media {
    display: flex;
    margin-top: 40px;
  }
  &__intro-copyright {
    margin-bottom: 15px;
    max-width:370px;

  }
  &__intro-text{
    margin-bottom: 5px;
    line-height: 1.6;
    font-size: 14px;
    @media all and (min-width: $screen-m) {
      margin-bottom: 50px;
    }
  }
  &__terms{
    font-size: 14px;
  }
}

































