<div class="footer">
  <div class="footer__wrapper">
    <div class="footer__intro-copyright">
      {{ footer_logo|raw }}
      <p class="footer__intro-text">{{ footer_intro_text }}</p>
      <p class="footer__terms">{{ footer_terms }}</p>
    </div>
    <div class="footer__menu-box">
      {{ links|raw }}
      {{ links_second|raw }}
    </div>
    <div class="footer__contact">
      {{ footer_contact_heading|raw }}
      <p class="footer__contact-text">{{ footer_contact_text }}</p>
      <a href="mailto:{{ footer_contact_link|raw }}" class="footer__link--contact">{{ footer_contact_link|raw }}</a>
      <div class="footer__social-media">
        {{ footer_social_media|raw }}
        {{ footer_social_media_twitter|raw }}
        {{ footer_social_media_google|raw }}
        {{ footer_social_media_dribble|raw }}
      </div>
    </div>
  </div>
</div>