.button {
  &--primary {
    background-color: $primary;
    text-decoration: none;
    color: black;
    padding: 15px 25px;
    letter-spacing: 0.1em;
    display: inline-block;
    font-size: 14px;
    &:hover {
      background-color: $hover;
      color: white;
    }
  }
  &--outline {
    color: black;
    padding: 15px;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-size: 14px;
    background-color: $primary;
    text-align: center;
    display: block;
    width: 190px;
    margin: 0 auto;
    &:hover {
      background-color: $hover;
      color: white;
    }
  }
  &--secondary {
    width:100%;
    background-color: transparent;
    border: 1px solid $primary;
    color: $primary;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    text-decoration: none;
    box-sizing: border-box;
    &:hover {
      background-color: $primary;
      color: black;
    }
    @media all and (min-width:375px){
      width: 250px;
    }
  }
}













































