.achievement-section {
  background-color: #1a1a1a;
  padding: 30px;
  .achievement-section__wrapper{
    max-width: 650px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    @media all and (min-width: $screen-l) {
      max-width: $max-width-content;
      justify-content: space-between;
    }
  }
}





