.heading{
  &--headline{
    font-size: 17px;
    color: white;
    padding-bottom: 5px;
    font-weight: normal;
    @media all and(min-width: 768px){
      font-size: 30px;
      color: white;
      padding-bottom: 30px;
      letter-spacing: 0.1em;
    }
  }
  &--subheading{
    font-size: 20px;
    color: black;
    font-weight: normal;
  }
  &--footer_heading{
    font-size: 19px;
    color:white;
    font-weight: normal;
  }
}































































