.info {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 0.1em;
  color: $pale_gray;
  line-height: 2;
  &__image--mountain {
    margin-bottom: 10px;
  }
  &__wrapper {
    max-width: 640px;
    margin: auto;
    box-sizing: border-box;
    padding: 120px 10px 80px 10px;
  }
}












