.team-member {
  flex: 0 1 270px;
  margin: 15px;
  box-shadow: 0 0 15px #7b8481;
  max-width: 270px;
  box-sizing: border-box;
  &__section--top {
    position: relative;
  }
  &__name {
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: #ca9717;
    letter-spacing: 0.2em;
    opacity: 0.5;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
  }
  &__image {
    display: block;
    width: 100%;
  }
  &__section--bottom {
    display: block;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
  }
  &__description {
    color: $pale_gray;
    line-height: 1.8em;
    font-size: 14px;
  }
}







