<div class="team-member">
  <div class="team-member__section--top">
    <img src="{{ team_member_image }}" class="team-member__image"/>
    <div class="team-member__name">
      <p>{{ team_member_name }}</p>
    </div>
  </div>
 <div class="team-member__section--bottom">
   <p class="team-member__description">{{ team_member_description }}</p>
 </div>
</div>