.portfolio-card {
  position: relative;
  max-width: 320px;
  margin: 20px;
  @media all and(min-width: $screen-l){
    margin: 0;
  }
  &:hover{
    >.portfolio-card__textbox,
    >.portfolio-card__background {
      display: block;
    }
  }
  .portfolio_image {
    width: 100%;
    max-width: 100%;
  }
  &__textbox {
    display: none;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    max-width: calc(100% - 20px);
    height: 60%;
    text-align: center;
    box-sizing: border-box;
    padding: 15px 5px;
    color: $pale_gray;
  }
  &__background {
    display: none;
    background-color: $primary;
    max-width: calc(100% - 80px);
    height: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto
  }
  &__subheading{
    font-weight: bold;
  }
  &__description{
    line-height: 1.6;
    color: $pale_gray;
  }
}





