<div class="portfolio-card">
  <div class="portfolio-card__image">
    <img src="{{ portfolio_image }}" alt=""/>
  </div>
  <div class="portfolio-card__background"></div>
  <div class="portfolio-card__textbox">
    <p class="portfolio-card__subheading">{{ portfolio_subheading }}</p>
    <p class="portfolio-card__description">{{ portfolio_description }}</p>
  </div>
</div>