.hero {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  letter-spacing: 0.2em;
  text-align: center;
  padding: 10px;
  max-width: 840px;
  &__text{
    color: white;
    padding-bottom: 15px;
  }
}













































