.team-member-list{
  display: flex;
  max-width: $max-width-content;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  @media all and(min-width: $screen-m) {
    justify-content: space-between;
  }
  @media all and(min-width: $screen-l){
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}