.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: $max-width-content;
  z-index: 11;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 15px;
  box-sizing: border-box;
  height: 67px;
  background-color: $gray;
  ul {
    padding: 0;
    margin: 0;
  }
  @media all and (min-width: $screen-m) {
    position: absolute;
    background-color: transparent;
  }
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__menu-wrapper {
    display: none;
    position: fixed;
    top: 67px;
    right: 0;
    left: 0;
    background-color: #333538;
    @media all and (min-width: $screen-m) {
      display: block;
      position: relative;
      top: 0;
      background-color: transparent;
    }
    &.active {
      display: flex;
      flex-direction: column;
    }
  }
  &__menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    a {
      display: block;
      text-decoration: none;
      color: $primary;
      padding: 10px 15px;
      align-self: center;
      &:hover{
        color: black;
        background-color: $primary;
      }
    }
    @media all and (min-width: $screen-m) {
      flex-direction: row;
      a {
        &:hover {
          color: black;
          background-color: $primary;
          border-radius: 10px;
        }
      }
    }
  }
  &__menu-toggle {
    display: flex;
    position: relative;
    img {
      max-width: 47px;
      height: 47px;
      background: $gray;
    }
    @media all and(min-width: $screen-m){
      display: none;
    }
  }
}








