<div class="navbar">
  <div class="navbar__wrapper">
    <div class="navbar__logo">
      {{ header_logo|raw }}
    </div>
    <div class="navbar__menu-wrapper">
      <ul class="navbar__menu">
        <li>
          <a href="#">{{ header_link_home|raw }}</a>
        </li>
        <li>
          <a href="#">{{ header_link_about|raw }}</a>
        </li>
        <li>
          <a href="#">{{ header_link_team|raw }}</a>
        </li>
        <li>
          <a href="#">{{ header_link_team|raw }}</a>
        </li>
      </ul>
    </div>
    <div class="navbar__menu-toggle">
      <img src="{{ header_burger_menu }}" class="header__menu-burger"/>
    </div>
  </div>
</div>