.intro {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 800px;
  padding: 80px 10px;
  box-sizing: border-box;
  color: $pale_gray;
  &__text{
    letter-spacing: 0.1em;
    line-height: 2;
  }
}



