.header{
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin-top: 67px;
  @media all and(min-width: $screen-m) {
    margin-top: 0;
  }
  &__background{
    width: 100%;
    min-height: 300px;
  }
}

























